.hero {
  &__container {
    display: flex;
    padding-left: rem(145px);

    @include mobile {
      padding-left: rem(16px);
      padding-right: rem(16px);
    }
  }

  &__left {
    padding-top: rem(150px);

    @include mobile {
      padding-top: rem(100px);
    }
  }

  &__info {
    font-family: $p-font-regular;
    font-size: rem(22px);
    line-height: 120%;
    margin-bottom: rem(50px);

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: calc(100% + rem(10px));
        height: rem(30px);
        background-color: #89C9BA;
        top: 0;
        left: rem(-3px);
        border-radius: rem(30px);
        transform: rotate(-4deg);
        z-index: -1;

        @include mobile {
          border-radius: rem(20px);
          width: calc(100% + rem(5px));
          height: rem(25px);
          z-index: -1;
        }
      }
    }

    @include mobile {
      font-size: rem(16px);
      line-height: 120%;
      margin-bottom: rem(50px);
    }
  }

  &__right {
    height: calc(100vh - rem(82px));
    top: 0;
    right: rem(50px);
    position: absolute;
    max-width: rem(620px);

    @include mobile {
      max-width: rem(235px);
      height: rem(278px);
      z-index: -1;
      right: rem(-30px);
    }


  }

  &__img {
    height: 100%;
    width: 100%;
    object-position: top left;
    object-fit: contain;

    &._desk {
      @include mobile {
        display: none;
      }
    }

    &._mob {
      display: none;
      @include mobile {
        display: block;

        z-index: -1;
      }
    }
  }
}