.question {
  position: relative;
  display: none;

  @include mobile {
    padding: 0 rem(16px);
  }

  &.active {
    display: block;
  }

  &__top {
    max-width: rem(1100px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &-progress {
      height: rem(15px);
      background-color: #C6C6C6;
      border-radius: rem(30px);
    }

    &-progress-show {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: $p-color-accent;
      border-radius: rem(30px);
    }

    &-info {
      position: absolute;
      top: rem(20px);
      left: 50%;
      transform: translateX(-50%);

      @include mobile {
        font-size: rem(16px);
      }
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    font-size: rem(20px);
    line-height: 110%;

    @include mobile {
      font-size: rem(16px);
    }
  }

  &__inner {
    padding-top: rem(150px);
    max-width: rem(850px);
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      padding-top: rem(120px); 
      width: 100%;
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(100px) rem(20px);
  
    &._revers {
      .question__img {
        order: -1;
      }
      .question__list {
        margin-right: 0;
        margin-left: rem(50px);

        @include mobile {
          margin-left: 0;
        }
    
      }
    }

    @include mobile {
      padding: rem(30px) 0;
    }
  }

  &__list {
    margin-right: rem(50px);

    @include mobile {
      margin-right: 0;
    }

  }

  &__img  {
    max-height: rem(230px);
    border-radius: rem(30px);
    overflow: hidden;

    img {
      height: 100%;
      max-width: rem(300px);
      object-fit: contain;
      object-position: center;
    }

    @include mobile {
      display: none;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}

.end {
  display: none;

  @include mobile {
    padding: 0 rem(16px);
  }


  &.active {
    display: block;
  }

  &__content {
    padding-top: rem(300px);
    max-width: rem(600px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include mobile {
      padding-top: rem(150px); 
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: rem(32px);
  }

  &__info {
    @include mobile {
      text-align: center;
    }
  }

  &__btn {
    margin-top: rem(32px);
  }

  &__decor {
    width: rem(250px);
    height: rem(150px);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: rem(30px);
    overflow: hidden;
    position: absolute;

    @include mobile {
      display: none;
    }

    &._1 {
      background-image: url('../../img/4.jpg');
      left: rem(100px);
      top: rem(200px);
      transform: rotate(-30deg);
    }

    &._2{
      background-image: url('../../img/5.jpg');
      top: rem(200px);
      right: rem(100px);
      transform: rotate(30deg);
    }
  }
  .question__top-progress-show {
    width: 100%;
  }
}