@font-face {
  font-family: 'Neometric-Bold';
  src: 
    url('../../fonts/Neometric-Bold.woff') format('woff'),
    url('../../fonts/Neometric-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neometric-Medium';
  src: url('../../fonts/Neometric-Medium.woff') format('woff'),
  url('../../fonts/Neometric-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neometric-Regular';
  src: url('../../fonts/Neometric-Regular.woff') format('woff'),
  url('../../fonts/Neometric-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../../fonts/Manrope-Bold.woff') format('woff'),
  url('../../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('../../fonts/Manrope-Medium.woff') format('woff'),
  url('../../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Manrope-Regular';
  src: url('../../fonts/Manrope-Regular.woff') format('woff'),
  url('../../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



